/* Inter Font */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  /* font-family: "Inter", sans-serif; */
  font-family: "Inter", serif!important;
}

/* Font Sizes */
.fs-10 {
  font-size: 10px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-30 {
  font-size: 30px !important;
}
.fs-40 {
  font-size: 40px !important;
}
.fs-60 {
  font-size: 60px !important;
}

/* Colours */
.text-pink {
  color: #ec2a77 !important;
}
.bg-pink {
  background-color: #ec2a77 !important;
}
.bg-light-pink {
  background-color: #ff99c2 !important;
}
.bg-light-blue {
  background-color: #dffffa !important;
}

/* Border Colours */
.border-pink {
  border-color: #ec2a77 !important;
}
*/

    /* Margins */
     .mb-15 {
  margin-top: -15px;
}
.mb-25 {
  margin-top: -25px;
}
.mb-45 {
  margin-top: -45px;
}
.ms-150 {
  margin-left: 150px;
}
.ms-200 {
  margin-left: 200px;
}

.ms-120 {
  margin-left: 120px !important;
}

/* Padding */
.pb-50 {
  padding-bottom: 110px;
}

/* Background Image */
.header-section{
    background-image: url(/imgs/Nav\ Background.png);
    background-size: cover;
    height:400px;
}

/* Cursor  */
.cursor-pointer {
  cursor: pointer !important;
}

li.hover {
  color: #ec2a77 !important;
}

/* Hero section */

.para_first {
  width: 450px !important;
  height: 250px !important;
}

.para_second {
  width: 450px !important;
  height: 250px !important;
}

/* Hover Effects */


/* Cursor  */
.cursor-pointer{
  cursor: pointer !important;
}

li.hover{
  color: #ec2a77 !important;
  transition: ease 0.3s;
}

nav ul li a:hover{
  transition: ease 0.3s;
  color:#ff99c2!important;
}
.nav-item :hover{
  transition: ease 0.3s;
  color:#ff99c2!important;
}


/* Media Queries */

@media (min-width: 768px) {
  /* Positions */
  .top-170 {
    top: 170px;
  }

  .start-420 {
    left: 420px;
  }

  .para_first_margin {
    margin-left: 50px !important;
  }

  .hero_space {
    margin-left: 70px !important;
  }
}

@media (max-width: 768px) {
  /* Positions */
  .top-200 {
    top: 200px;
  }

  .start-120 {
    left: 120px;
  }

  .first_para {
    width: 300px !important;
  }
}
